* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #faf3dd;
}

body {
    min-height: 100vh;
    width: 100%;
}

nav {
    background-color: #b8f2e6;
    font-family: roboto, sans-serif;
   
    height: 4em;
    font-size: 28px;
    color: black;
    padding-top: 12px;
    margin-top: 0px;
}

nav>a {
    background-color: #b8f2e6;
    float: right;
    margin: 1em;
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

#devname {
    float: left;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

#aboutMe {
    margin: 2em;
    max-width: 40em;
}

#aboutMe>h1 {
    text-align: center;
}

#myProjects {
    margin: 2em;
    max-width: 40em;
}

#myProjects>h1 {
    text-align: center;
}

#myProjects>div {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(   #ffa69e, rgba(0, 0, 0, 0)) 1 100%;
}

#profilePicture {
    position: relative;
    width: 20em;
    height: 20em;
    overflow: hidden;
    border-radius: 50%;
}

#profilePicture img {
    width: 100%;
    height: auto;
    margin-top: -3em;
}

h1 {
    text-decoration: black underline solid;
}

h2 {
    text-decoration: black underline solid;
}