* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
body {
    background: white;
}
#board div {
    background-color: black;
    border: 0.00001em solid grey;
    box-sizing: border-box;
    float: left;
    width: 1.5em;
    height: 1.5em;
}

#board {
    width: calc(26 * 1.5em);
    margin: auto;
    
}

#board .snake {
    background-color: green;
}

#board .apple {
    background-image: url(/resources/apple.png);
    background-size: 1.2em 1.3em;
    background-repeat: no-repeat;
}

button {
    font-size: 5em;

}