html {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#board div {
    background-color: black;
    border: 1px solid grey;
    box-sizing: border-box;
    float: left;
    width: 1.5em;
    height: 1.5em;
}

#board {
    width: calc(26 * 1.5em);
    margin: auto;
}

#board .snake {
    background-color: green;
}

#board .apple {
    background-color: red;
}